
<div class="card mb-4">
  <video class="card-img-top" controls>
    <source src="/videos/30409_1280x720.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="card-body">
    <h5 class="card-title">企業情報サイト</h5>
  </div>
</div>
 <!--　ご覧いただきありがとうございます。こちらにこの実装に至った経緯等を記載していきたいと思います。
 まず私は、頂いた要件から以下の7段階のステップにわけて進行することに決めました。
 1. データベースの設計:
企業情報のデータベースを設計する。基本的な項目はCSVファイルから取得して、RailsのActiveRecordを使用してモデルを作成する。
2. 初期データの登録:
CSVファイルからデータを読み込み、データベースに初期データを登録する。（Railsのseed機能を利用）
3. 企業データのCRUD機能:
企業データの追加、編集、削除などの基本的なCRUD操作を実装する。（RailsのMVCパターンを使用）
4. 検索機能:
ANDとORの両方で検索できるような機能を提供する。（RailsのActiveRecordのクエリメソッドを使用）
5. ユーザ管理と認証:
メンバーの管理と、追加、編集、削除などの操作の権限管理を実装する。（DeviseやPunditなどのGemを使用）
6. フロントエンド:
Next.jsを使ってフロントエンドを構築する。（RailsのAPIを使用してデータを取得し、Next.jsで表示）
7. コードの共有:
コードはGithubで共有する。

しかし、技術不足で6.の"Next.jsでフロントエンドを構築"ができず、railsのviewファイルでの実装になってしまいました。
 -->